/* @theme theme */

/* 
  Stylesheet used by the HTML slide deck and PDF prints. 
*/

@import "default";

/* Global parameters */
:root {
  /* Screen width */
  width: 1280px;
  padding: 3rem;
  font-size: 15pt;
}

/* Pagination */
section::after {
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

/* Slide */
section {
  background: rgb(246, 246, 246);
  font-size: 1px;
}

footer {
  font-size: 8pt;
}

section.lead h2 {
  text-align: right;
  text-transform: uppercase;
}

h1 {
  font-size: 128pt;
  letter-spacing: -2px;
  color: gold;
  text-align: center;
}

h2 {
  font-size: 42pt;
  letter-spacing: -1px;
  &::before{
    content: "=";
  }
   &::after{
    content: "=";
  }
}
